* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
  margin-bottom: 0;
  gap: 0;
}

header::before {
  content: '';
  display: block;
  height: 20px;
  background-color: #ffffff;
}

.my-nav {
  display: flex;
  background-color: #ffffff;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.my-nav h2 {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
}

.menu-toggle {
  color: #6070ff;
  font-size: 25px;
}

.container {
  background-image: url(../img/header-shapes-mobile@2x.svg);
  border-bottom-left-radius: 15%;
  background-color: white;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container h1 {
  font-family: 'Poppins', sans-serif;
  padding-top: 25%;
  padding-right: 10%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
}

.container p {
  font-family: 'Poppins', sans-serif;
  padding: 3% 5% 5% 5%;
  text-align: left;
  color: #344563;
}

.container h3 {
  font-family: 'Poppins', sans-serif;
  color: #7f8cff;
  margin-left: 5%;
  font-size: 16px;
  font-weight: normal;
}

ul {
  display: flex;
  gap: 5%;
  margin: 5%;
  padding-bottom: 25%;
}

.card-list {
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  overflow: hidden;
  margin: 25% 5% 0 5%;
}

.principal-img {
  width: 100%;
}

.card h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  text-align: left;
}

.long-text {
  padding-right: 10px;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  color: #344563;
  line-height: 16px;
}

.grey {
  color: #7a869a;
}

.grey img {
  margin: 0 3% 0 3%;
}

.card p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 24px;
  color: #344563;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  padding-bottom: 0;
}

.card-buttons li {
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}

.card-buttons li button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #6070ff;
}

.project-link {
  width: 45%;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #396df2;
  font-size: 17px;
  padding: 16px 0 16px 0;
  border: 1px solid #396df2;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 5%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.project-link:hover {
  background-color: #396df2;
  color: #ffffff;
  border-color: #ffffff;
}

.project-link:active {
  background-color: #264a94;
  border-color: #ffffff;
}

.about-me {
  border-top-right-radius: 70px;
  background-color: white;
  margin-top: 25%;
  padding: 30% 5% 30% 5%;
}

.title-about-me {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.text-about-me {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.about-me h3 {
  font-family: 'Poppins', sans-serif;
  color: #7f8cff;
  font-size: 16px;
  font-weight: normal;
  margin-top: 12px;
}

.ul-about-me {
  display: flex;
  gap: 5%;
  margin: 5%;
  padding-bottom: 0;
}

.button-about-me {
  width: 50%;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #396df2;
  font-size: 17px;
  padding: 13px 0 13px 0;
  border: 1px solid #396df2;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 5%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.button-about-me:hover {
  background-color: #396df2;
  color: #ffffff;
  border-color: #ffffff;
}

.button-about-me:active {
  background-color: #264a94;
  border-color: #ffffff;
}

.subtitle-about-me {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.developer-languages-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
  margin-right: 35px;
}

.developer-languages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 5% 0 5%;
}

.items-developer-languages {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #253858;
  background-color: #f7f7f9;
  margin-bottom: 5%;
  border-radius: 8px;
  padding: 10px;
  margin-left: 0;
}

.line {
  border-top: 1px solid #dfe1e6;
  width: 100%;
}
